{% extends 'base.html' %}
{% block title %} Login {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="d-flex flex-column">
      <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
        <div class="card">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
          {% endfor %}

          <form role="form" method="post" action="">
            {% csrf_token %}

            <div class="card-body px-5 py-3">
              <div class="row">
                <div class="col-md-12 px-md-1">
                  <div class="form-group">
                    <label>Username</label>
                    {{ form.username }}
                  </div>
                </div>

                <div class="col-md-12 px-md-1">
                  <div class="form-group">
                    <label>Senha</label>
                    {{ form.password }}
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                type="submit"
                name="login"
                class="btn btn-fill btn-primary"
                href="{% url 'login' %}"
              >
                Entrar
              </button>
              <br /><br />
              <p>
                Não tem conta?
                <a href="{% url 'salvar_usuario' %}" class="text-primary"
                  >Registre-se</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      function exibirMensagem(tipo, conteudo) {
        const messageContainer = document.getElementById('message-container');
        messageContainer.innerHTML = `<div class="alert alert-${tipo}" role="alert">${conteudo}</div>`;
      }
    </script>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}