{% extends 'base.html' %} {% block title %} Login {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="card">
  {% if not user.is_authenticated %}
  <h1>Registre - se</h1>
  {% endif %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
     {{ message }}
    </div>
  {% endfor %}
  {% if success %}
  <div class="card-footer text-center">
    <a href="{% url 'login' %}" class="btn btn-fill btn-primary">Login</a>
  </div>
  {% else %}
  <form role="form" method="post" action="" class="p-3">
    {% csrf_token %} {{ form.as_p }}
    <br />
    <div class="card-footer text-center">
      {% if user.is_authenticated %}
      <button
        type="submit"
        name="register"
        class="btn btn-fill btn-primary"
        href="{% url 'login' %}"
      >
        Salvar
      </button>
      {% else %}
      <button type="submit" name="register" class="btn btn-fill btn-primary">
        Registre-se
      </button>
      <br /><br />
      <p>
        Ja tem uma conta?
        <a href="{% url 'login' %}" class="text-primary">Login</a>
      </p>
      {% endif %}
    </div>
  </form>
  {% endif %}
</div>

{% endblock content %} {% block javascripts %}{% endblock javascripts %}
