
<button class="btn btn-primary offcanvas show" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button 
  </button>

  <div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="d-flex flex-column">
          {% if user.is_authenticated %}
          <li><a href="" class="btn btn-primary">Inicio</a></li>
          <li><a href="{% url 'clientes:registrar_novo_cliente' %}" class="btn btn-primary">Registrar Novo Cliente</a></li>
          <li><a href="{% url 'register' %}" class="btn btn-primary">Registrar Novo Usuario</a></li>
          <li><a href="{% url 'livros:register_book' %}" class="btn btn-fill btn-primary">Adicionar Novo Livro</a></li>
          <li><a href="{% url 'livros:show_collection' %}" class="btn btn-fill btn-primary">Acervo</a></li>
          <li><a href="{% url 'logout' %}" class="btn btn-fill btn-primary">Logout</a></li>
          {% endif %}
      </ul>
    </div>
  </div> 
