<ul class="d-flex flex-column list-group">
  {% if user.is_authenticated %}
  <li><a href="{% url 'clientes:listar_clientes' %}" class="btn btn-primary list-group-item">Menu Clientes</a></li>
  <li><a href="{% url 'clientes:registrar_novo_cliente' %}" class="btn btn-primary list-group-item">Registrar Novo Cliente</a></li>
  <li><a href="{% url 'emprestimo:listar_emprestimos' %}" class="btn btn-primary list-group-item">Menu Emprestimo</a></li>
  <li><a href="{% url 'login'%}" class="btn btn-primary list-group-item">Menu Usuarios</a></li>
  <li><a href="{% url 'salvar_usuario' %}" class="btn btn-primary list-group-item">Registrar Novo Usuario</a></li>
  <li><a href="{% url 'livros:registrar_livro' %}" class="btn btn-fill btn-primary list-group-item">Adicionar Novo Livro</a></li>
  <li><a href="{% url 'livros:listar_livros' %}" class="btn btn-fill btn-primary list-group-item">Menu Livros</a></li>
  <li><a href="{% url 'logout' %}" class="btn btn-fill btn-primary list-group-item">Logout</a></li>
  {% endif %}
</ul>
