<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text logo-normal">
                Biblioteca Literaria
            </a>
        </div>
        <ul class="nav">
            <li>
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-fill btn-primary">Logout</a>
                <a href="{% url 'register' %}" class="btn btn-fill btn-primary">Registrar Novo Usuario</a>
                <a href="{% url 'livros:show_collection' %}" class="btn btn-fill btn-primary">Acervo</a>
                <a href="{% url 'livros:register_book' %}" class="btn btn-fill btn-primary">Adicionar Novo Livro</a>
              {% endif %}
            </li>
        </ul>
    </div>
</div>
