{% extends 'base.html' %} 
{% block title %} Login {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<style>
  .largura_tabela {
    width: 80%;
  }
  .largura_card{
    width: 80%;
  }
</style>
<div class="card largura_card">
  <div class="card-header">
    <h4 class="card-title">Emprestimos</h4>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'emprestimo:pesquisar_emprestimo' %}" class="w-25 d-flex flex-row">
      {% csrf_token %} {{ conteudo_pesquisa_form }}
      <button type="submit" class="btn btn-fill btn-primary btn-sm">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <td class="px-1"><a class="btn btn-primary btn-sm" href="{% url 'emprestimo:listar_emprestimos' 'emprestimos_encerrados' %}">Listar Concluidos</a></td>
    <td class="px-1"><a class="btn btn-primary btn-sm" href="{% url 'emprestimo:listar_emprestimos' 'emprestimos_atrasados' %}">Listar Atrasados</a></td>
    <td class="px-1"><a class="btn btn-primary btn-sm" href="{% url 'emprestimo:listar_emprestimos' 'emprestimos_em_dia ' %}">Listar Em Dia</a></td>
    <td class="px-1"><a class="btn btn-primary btn-sm" href="{% url 'emprestimo:listar_emprestimos' 'todos_os_emprestimos' %}">Ver Todos</a></td>
    <td class="px-1"><a href="{% url 'emprestimo:registrar_novo_emprestimo' %}" class="btn btn-primary btn-sm">Registrar Novo Emprestimo</a></td>
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Livro</th>
          <th scope="col">Data Emprestimo</th>
          <th scope="col">Devolução Prevista</th>
          <th scope="col">Status Emprestimo</th>
        </tr>
      </thead>
      <tbody>
        {% for emprestimo in emprestimos %}
           
            <tr>
                <td class="px-1">{{ emprestimo.cliente }}</td>
                <td class="px-1">{{ emprestimo.livro }}</td>
                <td class="px-1">{{ emprestimo.data_emprestimo }}</td>
                <td class="px-1">{{ emprestimo.data_devolucao }}</td>
                <td class="px-1">{{ emprestimo.get_status_emprestimo_display }}</td>
                <td class="px-1"><a class="btn btn-primary btn-sm" onclick="return confirm('Confirmar Devolução?')" href="{% url 'emprestimo:encerrar_emprestimo' emprestimo.id %}">Encerrar Emprestimo</a></td>
                <td class="px-1"><a class="btn btn-primary btn-sm" onclick="return confirm('Deseja realmente Deletar?')" href="{% url 'emprestimo:deletar_emprestimo' emprestimo.id %}">Apagar Emprestimo</a></td>
            </tr>
            
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block javascripts %}{% endblock javascripts %}
