{% extends 'base.html' %}
{% block title %} Login {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="col-md-12">
    <div class="card m-auto">
      <div class="card-header">
        <h4 class="card-title">Salvar Emprestimo</h4>
      </div>
    <form class="d-flex flex-column w-75 ms-auto me-auto "  action="{% url 'emprestimo:registrar_novo_emprestimo'%}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex align-itens-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
      </div>
    </form>
    </div>
</div>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
