{% extends 'base.html' %} {% block title %} Registrar Novo Livro {% endblock %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="card p-5">
  <form role="form" class="vw-75" method="post" action="{% url 'livros:registrar_livro' %}">
    {% csrf_token %} {{ form.as_p }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary bnt-sm" onclick="validarIsbn()">Salvar</button>
    </div>
  </form>
</div>
<script>
  function validarIsbn(){
    const inputIsbn = Document.getElementById('id_isbn');
    const isbn = inputIsbn.value;

    const isbnClened = isbn.replace(/[-\s]/g, '');

    if (/^\d{10}$/.test(cleanedISBN) || /^\d{13}$/.test(cleanedISBN)) {
        alert('ISBN válido');
    } else {
        alert('ISBN inválido');
    }
}
</script>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
