{% extends 'base.html' %}
{% block title %} Login {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="content vw-100 d-flex flex-column align-items-center">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
         <div class="card p-5">
          <form role="form" class="vw-75" method="post" action="{% url 'livros:registrar_livro' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}
  {% block javascripts %}{% endblock javascripts %}