{% extends 'base.html' %}
{% block title %} Login {% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Livros</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="POST" action="/pesquisar_livro" class="w-25 d-flex flex-row">
                                    {% csrf_token %}
                                    {{ conteudo_pesquisa_form }}
                                    <a type="submit" class="btn btn-fill btn-primary">
                                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </form>
                                <table class="table table-striped-columns">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Titulo</th>
                                            <th scope="col">Autor</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">ISBN</th>
                                            <th scope="col">Disponibilidade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for livro in livros %}
                                        <tr>
                                            <td>{{ livro.id }}</td>
                                            <td>{{ livro.titulo }}</td>
                                            <td>{{ livro.authors }}</td>
                                            <td>{{ livro.descricao }}</td>
                                            <td>{{ livro.isbn }}</td>
                                            {% if livro.esta_disponivel %}
                                            <td>Disponivel</td>
                                            <td><a class="btn btn-fill btn-primary">Reservar</a></td>
                                            <th><a type="submit" class="btn btn-fill btn-primary"
                                                    href="delete/{{ livro.id }}">Delete</th>
                                            {% else %}
                                            <td>Indisponivel</td>
                                            <td><a type="hidden" disabled class="btn btn-fill btn-primary">Reservar</a></td>
                                            <th><a type="hidden" disabled class="btn btn-fill btn-primary" href="delete/{{ livro.id }}">Delete</th>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}